# BYBIT_TESTNET_ACCOUNT_TYPE=UNIFIED
# BYBIT_DEMO_API_KEY=
# BYBIT_DEMO_SECRET_KEY=
# BYBIT_DEMO_API_URL=https://api-demo.bybit.com
# BYBIT_DEMO_WS_URL=wss://stream-demo.bybit.com/v5/private
# BYBIT_DEMO_ACCOUNT_TYPE=UNIFIED
# OKX_PASSPHRASE=
# BYBIT_API_KEY=
# BYBIT_SECRET_KEY=

